  /* Responsive started here */

  /* @media screen and (max-width:1024px){
   
   
    
     .one{ 
        width: 50%;
        height: 280px;
    }
    .two{
        width: 50%;
        height: 280px;
        padding: 30px;
    }
    .three{
        width: 50%;
        height: 280px;
    }
    .four{
        width: 50%;
        height: 280px;
        padding: 30px;
    }
    .picture{
        width: 100%;
        
    }
    .part1{
        width: 50%;
        height: 230px;
    }
    .part2{
        width: 50%;
        height: 230px;
    }
    .part3{
        width: 100%;
        height: 230px;
    }
}   
/* 800px break point start here */
@media screen and (max-width:800px){

    .text{
         /* width: 100%; */
         /* height: 400px; */
         /* background-color: rgb(233, 122, 122); */
         font-size: 5rem;
    }
    .one{
        width: 50%;
        height: 280px;
    }
    .two{
        width: 50%;
        height: 280px;
        padding: 30px;
    }
    .three{
        width: 50%;
        height: 280px;
    }
    .four{
        width: 50%;
        height: 280px;
        padding: 30px;
    }
    .picture{
        width: 100%;
        height: 500px;
    }
    .part1{
        width: 46%;
        height: 230px;
        margin-top: 20px;
    }
    .part2{
        width: 46%;
        height: 230px;
        margin-top: 20px;
    }
    .part3{
        width: 100%;
        height: 230px;
        margin-top: 20px;
    }
 }  
 /* 400px breakpoint */
 @media screen and (max-width:400px){
    .left{
        padding: 10px;
        font-size: 20px;
        color: white;
        width: 100%;
    }
    .right{
            padding: 10px;
            font-size: 20px;
            color: white;
            width: 100%;
    }
    .text{
        width: 100%;
        font-size: 1rem;
   }
   .one{
       width: 100%;
       height: 280px;
   }
   .two{
       width: 100%;
       height: 280px;
       padding: 30px;
   }
   .three{
       width: 100%;
       height: 280px;
   }
   .four{
       width: 100%;
       height: 280px;
       padding: 30px;
   }
   .picture{
    width: 100%;
    height: 300px;
    background-image: url(image/pic3.jpeg);
    background-size: cover;
    margin-top: 10px;
       
   }
   .write{
    text-align: center;
    color: limegreen;
    font-size: 1rem;
    letter-spacing: 2px;
    position: absolute;
    margin-top:40px;
    /* left: 28%;  */
    /* border: 2px solid rgb(232, 98, 20); */
    /* width: 100%; */
    font-family: "Rowdies", serif;
    
}
.part{
    row-gap: 10px;
}
   .part1{
       width: 100%;
       height: 230px;
   }
   .part2{
       width: 100%;
       height: 230px;
   }
   .part3{
       width: 100%;
       height: 230px;
   }
 }


